numpy>=1.24

sounddevice>=0.4.6

PySide6>=6.6.0

comtypes>=1.4.0; sys_platform == "win32"

pycaw>=20240226; sys_platform == "win32"

psutil>=5.9.0

QtAwesome>=1.3.0

deepfilternet-rs>=0.1.1; python_version >= "3.10" and python_version < "3.13"

